body{
	
	background: url("assets/space.jpg");
	
}
#earth{
	
	float:left;
	margin-top:32%;
	width:20%;
	z-index:1;
	
}
#moon{
	
	float:right;
	width:15%;
	z-index:1;
	
}
#rocket{
	
	height:5%;
	position:absolute;
	margin-left:9%;
	margin-top:30%;
	-webkit-animation: blastoff 15s infinite;
	z-index: 2;
}
@keyframes blastoff {
	
	10% {margin-top: 1%;}
	20% {transform: rotate(45deg); }
	60% {margin-left:78%; margin-top: 4%;}
	70% { height: 15%;}
	80% {transform: rotate(-90deg); }
	
}
#smoke{
	
	position:absolute;
	height:50px;
	width:50px;
	background-color: grey;
	border-radius: 25px;
	margin-left: 8.5%;
	margin-top: 32%;
	z-index: 2;
	
}